@media only screen and (max-width: 600px) {
  #Home {
    margin: 5px;
  }
}

@media only screen and (min-width: 600px) {
  #Home {
    margin: 5%;
  }
}

mat-card {
  margin-bottom: 20px;
}

mat-expansion-panel {
  margin-bottom: 20px;
}

mat-spinner {
  margin: auto;
}

#title {
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
  margin: 15px 5px;
  text-align: center;
}

h2 {
  font-weight: 300;
  line-height: 56px;
  margin: 15px 5px;
  text-align: center;
  color: #000;
}

a {
  color: black;
  font-weight: 300;
}

#sort {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

button {
  margin-right: 10px;
}
