<div id="Home">

  <h1 id="title">Covid-19 Summary</h1>

  <div *ngIf="isLoading === true">
    <h2>Getting Data</h2>
    <mat-spinner></mat-spinner>
  </div>

  <mat-tab-group mat-align-tabs="center" *ngIf="isLoading === false">
    <mat-tab label="Cases">
      <mat-card style="margin: 20px;">
        <mat-card-header>
          <mat-card-title>New Cases</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 style="padding: 16px;">{{global.NewConfirmed | number}}</h1>
        </mat-card-content>
      </mat-card>
      <mat-card style="margin: 20px;">
        <mat-card-header>
          <mat-card-title>Active Cases</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 style="padding: 16px;">{{global.TotalConfirmed - global.TotalRecovered | number}}</h1>
        </mat-card-content>
      </mat-card>
      <mat-card style="margin: 20px;">
        <mat-card-header>
          <mat-card-title>Total Cases</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 style="padding: 16px;">{{global.TotalConfirmed | number}}</h1>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Deaths">
      <mat-card style="margin: 20px;">
        <mat-card-header>
          <mat-card-title>New Deaths</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 style="padding: 16px;">{{global.NewDeaths | number}}</h1>
        </mat-card-content>
      </mat-card>
      <mat-card style="margin: 20px;">
        <mat-card-header>
          <mat-card-title>Total Deaths</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 style="padding: 16px;">{{global.TotalDeaths  | number}}</h1>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Recovered">
      <mat-card style="margin: 20px;">
        <mat-card-header>
          <mat-card-title>New Recovered</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 style="padding: 16px;">{{global.NewRecovered | number}}</h1>
        </mat-card-content>
      </mat-card>
      <mat-card style="margin: 20px;">
        <mat-card-header>
          <mat-card-title>Total Recovered</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 style="padding: 16px;">{{global.TotalRecovered | number}}</h1>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>

  <div *ngIf="isLoading === false">
    <mat-paginator
    [length]="totalCountries"
    [pageSize]="countriesPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)">
    </mat-paginator>
    <mat-expansion-panel *ngFor="let item of showCountries">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.Country}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Cases">
          <mat-card style="margin: 20px;">
            <mat-card-header>
              <mat-card-title>New Cases</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1 style="padding: 16px;">{{item.NewConfirmed | number}}</h1>
            </mat-card-content>
          </mat-card>
          <mat-card style="margin: 20px;">
            <mat-card-header>
              <mat-card-title>Active Cases</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1 style="padding: 16px;">{{item.TotalConfirmed - item.TotalRecovered | number}}</h1>
            </mat-card-content>
          </mat-card>
          <mat-card style="margin: 20px;">
            <mat-card-header>
              <mat-card-title>Total Cases</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1 style="padding: 16px;">{{item.TotalConfirmed | number}}</h1>
            </mat-card-content>
          </mat-card>
        </mat-tab>

        <mat-tab label="Deaths">
          <mat-card style="margin: 20px;">
            <mat-card-header>
              <mat-card-title>New Deaths</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1 style="padding: 16px;">{{item.NewDeaths | number}}</h1>
            </mat-card-content>
          </mat-card>
          <mat-card style="margin: 20px;">
            <mat-card-header>
              <mat-card-title>Total Deaths</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1 style="padding: 16px;">{{item.TotalDeaths | number}}</h1>
            </mat-card-content>
          </mat-card>
        </mat-tab>

        <mat-tab label="Recovered">
          <mat-card style="margin: 20px;">
            <mat-card-header>
              <mat-card-title>New Recovered</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1 style="padding: 16px;">{{item.NewRecovered | number}}</h1>
            </mat-card-content>
          </mat-card>
          <mat-card style="margin: 20px;">
            <mat-card-header>
              <mat-card-title>Total Recovered</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1 style="padding: 16px;">{{item.TotalRecovered | number}}</h1>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>

    </mat-expansion-panel>
    <mat-paginator
    [length]="totalCountries"
    [pageSize]="countriesPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)">
    </mat-paginator>
  </div>

</div>
